/************************************************ 
Custom.css is used for theme and style overrides.
Extra application styles can also be stored here.
*************************************************/
#navigation{
	background-color : #00AAF0;
}
#Sidebar{
background-color : #f1f1f1;
}