.numberFormat{
	float : right;
}
.tab{
	border-radius : 5px;
	
}
.lblName{
	font-size : 16px;
}
.RepName{
	font-size : 20px;
}
.tblName{
	font-size : 16px;
}
.actbud{
	background-color : White;
}
.number{
	text-align : right;
}
.left{
	text-align : left;
}
.inpComp{
	float : right;
}
.subtitle {
	margin-top: -10px;
}
.back{
	font-size: 16px;
	float : left;
}
.leftfloat{
	float : left;
        clear : both;
}
.right {
text-align: left;
	float: left;
	clear: both;
}
.w {


width:auto;
}