.ThemeMasterReportTopFrame {
	    background-color: White;
}
.titleFont{
	font-family : "Open Sans";
	font-size : 26px;
	color : White;
}
.piechart{
	width : 500px;
	border : solid 1px LightGray;
	float : left;
	border-radius : 1px;
	background-color : White;
	padding : 20px;
}
.linechart{
	float: left;
	margin-left: 20px;
	border : solid 1px LightGray;
	border-radius : 1px;
	width : 600px;
	padding : 20px;
	background-color : White;
}
.right{
	float: right;
}
.barchart{
	float : left;
	width : 1120px;
	padding : 20px;
	border : solid 1px LightGray;
	border-radius : 1px; 
	background-color : White;
	margin-top: 20px;
}
.filter{
	width: 190px;
	background-color: White;
	padding:20px;
	border: solid 1px LightGray;
	border-radius : 1px;
	float: left;
	margin-left: 15px;
}
.catFilter{
	width: 150px;
}
.analysisline{
	float: left;
	width: 600px;
	border : solid 1px LightGray;
	border-radius : 5px;
	padding : 20px;
	background-color: White;
}
.analysisLineGrid{
	float : left;
	width : 560px;
	border : solid 1px LightGray;
	border-radius: 5px;
	margin-top: 5px;
	background-color: White;
	/*margin-left: 20px;*/
	padding:20px;
}
.title{
	font-size : 20px;
}
.analysisLineGrid_lead{
	float : left;
	width : 540px;
	border : solid 1px LightGray;
	border-radius: 5px;
	background-color: White;
	padding:20px;
}
.lblName{
	font-size: 16px;
}
.sourcechart_all{
	width: 1200px;
	border : solid 1px DarkGray;
	border-radius: 5px;
	float: left;
}
.sourcegrid_all{
	width: 1200px;
	border : solid 1px DarkGray;
	border-radius: 5px;
	margin-top: 5px;
	float: left;
}
.sourcechart{
	width: 800px;
	border : solid 1px DarkGray;
	border-radius: 5px;
	float: left;
}
.sourcegrid{
	width: 800px;
	border : solid 1px DarkGray;
	border-radius: 5px;
	margin-top: 5px;
	float: left;
}
.sourcechart_qtr{
	width: 800px;
	border : solid 1px DarkGray;
	border-radius: 5px;
	float: left;
	
}
.sourcegrid_qtr{
	width: 403px;
	border : solid 1px DarkGray;
	border-radius: 5px;
	margin-left: 5px;
	margin-top: 5px;
	float: left;
}
#ppAction_1_rdPopup{
    position: relative !important;
    left: 55px !important;
    top: 33px !important;
    z-index: 9999 !important;
    float: right;
    right: 0;
	/*left: 87% !important;
    top: 45px !important;
    z-index: 9999 !important;
    float: right;
    right: 22px;*/
}
.convchart{
	width: 850px;
	border : solid 1px DarkGray;
	border-radius: 5px;
	float: left;
}
.convgrid{
	width: 850px;
	border : solid 1px DarkGray;
	border-radius: 5px;
	margin-top: 5px;
	float: left;
}
.textright{
	text-align: right;
}
.tab{
	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 100%;
	float : left;
}