.chart{
	width : 98%;
	border : solid 1px LightGray;
	border-radius : 5px;
	margin-bottom: 10px;
}
.grid{
	width :98%;
	border : solid 1px LightGray;
	border-radius : 5px;
	padding : 5px;
}
.rightAlin{
	float : right;
}
.filter{
	width : 98%;
	
}
.title{
	font-size : 18px;
}
.marleft{
	margin-right : 10px;
}
td.second, th.second,.rdThemeDataTableHeader {
    border: 1px solid grey !important;
}
  table.second {
    border-collapse: collapse;
}
  td.second
  {
 
   padding: 5px 10px 5px;
  }
  .first{
  	position : fixed;
	right : 5px;
	top : 10px;

}

.form-control {
    width:auto !important ; 
    height: auto !important;
    padding: 4px 12px; !important;
    color: #000 !important;
   background: white !important;
    bottom: 5px !important;
    position: relative !important;
     font-size: 12px !important;
}
#drillstores{
 border-radius: 7px;
    height: 30px;
    bottom: 6px;
    position: relative;
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
	 font-weight: normal;
    border: 1px solid transparent;
   }
.okbtn{
	display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-default
    {
    
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
    }
    
    .center-block
    {
    display: block;
    margin-right: auto;
    margin-left: auto;
    
    }
#ok
   {
	  width: 31% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 5px;
    position: relative;
    font-family: sans-serif;
	font-weight : bold;
	
   }
  
       #measure
	   {
		     border-radius: 5px;  
			 top: 5px;
		   
	   }

      .promoId
	  {
		  
		  border-radius: 5px;  
		  top: 5px;
		  
	  }
#yearval
 {
		      border-radius: 5px;
			  top: 5px;
			
	  }
	 .campaignclassid
	  {
		      border-radius: 5px;
			 top: 5px;
			
	  }
.FirstSelBut
	 {
		 
    width: auto !important;
    position: relative;
    right: 27px;
    bottom: 3px;
		 
	 }		
.Excl
   {   
	    margin-top: -2px;
    position: absolute;
    right: 67px;
    border-radius: 4px;
    padding: 4px 12px;
    font-weight: normal;
    border: 1px solid transparent;
    position: absolute;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
   }
  .Csv
  {
	margin-top: -2px;
    font-weight: normal;
    right: 1px;
    border-radius: 4px;
    padding: 4px 12px;
    border: 1px solid transparent;
    position: absolute;
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
	}
th
   {
	 background: #86CAC3;
    font-weight: normal !important;
    font-size: 13px;
    site: initial; 
	font-family: sans-serif;
	padding: 5px 0px 5px;
	   `
	   
   }
  .DateAlign
   {
    right: 40px;
    position: relative;
	      
   }
 td{
 	font-weight: normal !important;
    font-size: 13px;
    site: initial;
    font-family: sans-serif;
}
.HeaderFamily
	{
	    font-family: sans-serif;
	}
	.LabelsHeader
	  {
	  
	      font-family: sans-serif;
	  
	  
	  }
.rd-checkboxlist ul li span {
    margin-left: 6px;
    font-family: sans-serif;
}
.alignp{
	left:5px;
	position: relative;
}