.popupPanelContainer>.rdPopupPanel, 
.popupPanelContainer>.rdPopupPanel>tbody>tr>td,
.popupPanelContainer>.rdPopupPanel>tbody>tr>td>#PopupPanelContent  {
	padding: 0 !important;
}
#PopupPanelContent {
    padding: 5px;
    margin: 0px !important;
}
.modal-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 15px;
	border-bottom: 1px solid #e9ecef;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	outline: 0; 
}
.popupPanelModal + .popupPanelContainer {
	-webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
	-webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    /*margin: 0 auto !important;*/
	max-width: 100%;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
	-webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 4px;
    outline: 0;
}
.popupPanelModal + .popupPanelContainer > table > tbody > tr > td {
	padding: 0 5px;
}
.popupPanelModal + .popupPanelContainer > table, .rdPopupPanelTitle>table {
	border-radius: 4px;
	border: none;
}
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px; 
}

.modal-footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 15px;
	border-top: 1px solid #e9ecef; 
}
.modal-footer > :not(:first-child) {
	margin-left: .25rem; 
}
.modal-footer > :not(:last-child) {
	margin-right: .25rem; 
}

@media (min-width: 768px) {
  .popupPanelModal + .popupPanelContainer,.popupPanelModal + .popupPanelContainer>.rdPopupPanel {
    width: 600px;
  }
  .popupPanelModal + .popupPanelContainer.modal-sm {
    width: 300px;
  }
}
@media (min-width: 1100px) {
	.modal-lg {
		width: 1100px;
	}
  .modal-md {
    width: 600px;
  }
}
@media (max-width: 1100px) {
  .popupPanelModal + .popupPanelContainer {
    width: 97%;
	left: 1.5% !important;
  }
  .popupPanelModal + .popupPanelContainer>.rdPopupPanel {
    width: 100%;
	left: 0 !important;
  }
}
