/* Common styles for all types */
.callout {
	background: #fff;
	padding: 20px;
	margin: 20px 40px 20px 40px;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
.panel-body .callout, .card-body .callout {
	padding-top: 10px;
	padding-bottom: 10px;
  	margin: 10px 20px;
}
.callout a {
	margin-bottom: 10px;
}
.callout h1, .callout h2, .callout h3, .callout h4,
.callout .h1, .callout .h2, .callout .h3, .callout .h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout h1 + h1, .callout h2 + h2, .callout h3 + h3, /*.callout h4 + h4,*/
.callout .h1 + .h1, .callout .h2 + .h2, .callout .h3 + .h3, .callout .h4 + .h4 {
  margin-top: 15px;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code {
	/*display: block;*/
  border-radius: 3px;
}

/* Tighten up space between multiple callouts */
.callout + .callout {
  margin-top: -5px;
}

fieldset .callout {
	margin: 0px 40px 20px 40px;
    padding: .7em 1em;
}
.callout-default {
    background: #fff;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    color: #333;
    margin: 20px 0;
    padding: 20px;
}
.callout-default .h1, .callout-default h2, .callout-default h3, .callout-default h4, .callout-default h5,.callout-default h6,
.callout-default .h1, .callout-default .h2, .callout-default .h3, .callout-default .h4, .callout-infodefault.h5,.callout-default .h6 {
  color: #555;
}
/* Variations */
.callout-danger {
  border-left-color: #d9534f;
}
.callout-danger h1, .callout-danger h2, .callout-danger h3, .callout-danger h4, .callout-danger h5,.callout-danger h6,
.callout-danger .h1, .callout-danger .h2, .callout-danger .h3, .callout-danger .h4, .callout-danger .h5,.callout-danger .h6 {
  color: #d9534f;
}
.callout-primary {
  border-left-color: #1b809e;
}
.callout-primary h1, .callout-primary h2, .callout-primary h3, .callout-primary h4, .callout-primary h5,.callout-primary h6, 
.callout-primary .h1, .callout-primary .h2, .callout-primary .h3, .callout-primary .h4, .callout-primary .h5,.callout-primary .h6 {
  color: #1b809e;
}
.callout-warning {
  border-left-color: #f0ad4e;
}
.callout-warning .h1, .callout-warning h2, .callout-warning h3, .callout-warning h4, .callout-warning h5,.callout-warning h6,
.callout-warning .h1, .callout-warning .h2, .callout-warning .h3, .callout-warning .h4, .callout-infowarning.h5,.callout-warning .h6 {
  color: #f0ad4e;
}
.callout-info {
  border-left-color: #5bc0de;
}
.callout-info h1, .callout-info h2, .callout-info h3, .callout-info h4, .callout-info h5,.callout-info h6,
.callout-info .h1, .callout-info .h2, .callout-info .h3, .callout-info .h4, .callout-info .h5,.callout-info .h6 {
  color: #5bc0de;
}
.callout-teal {
  border-left-color: #4db6ac;
}
.callout-teal h1, .callout-teal h2, .callout-teal h3, .callout-teal h4, .callout-teal h5,.callout-teal h6,
.callout-teal .h1, .callout-teal .h2, .callout-teal .h3, .callout-teal .h4, .callout-teal .h5,.callout-teal .h6 {
  color: #4db6ac;
}
.callout ul>li:last-child {
	padding-bottom: 0 !important;
}