BODY
{
	background-color : White;
}
.mailerCanvas{
	width : 350px;
	height : 415px;
	border: solid 1px DarkGray;
	border-radius: 5px;
 	
}
.mailerCanvas2{
	width : 350px;
	height : 415px;
	
	border-radius: 5px;
 	
}
.lblTitle{
	margin-top : 20px;
	font-size : 20px;
}
.ReportName{
	font-size : 18px;
}
/*.lblOption{
	font-size : 14px;
	margin-left : 70px;
}*/
.mailerTab{
	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 330px;
	margin-top : 10px;
	float : left;
	margin-left : 360px;
	margin-top : -280px;
}
.mailerTab1{
	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 330px;
	margin-top : 10px;
	float : left;
	margin-left : 360px;
	margin-top : -300px;
}
.mailerTab2{
	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 330px;
	margin-top : 10px;
	float : left;
	margin-left : 370px;
	margin-top : -320px;
	
}
/*#mailBtn{
	margin-left : 500px;
}*/
.numberFormat{
	text-align  : right;
	float : right;
}
.chartCan{
	margin-left : 10px;
	/*margin-top : -130px;*/
	float : left;
	height : 415px;
}
.summary{
	width : 330px;
	border : solid 1px DarkGray;
	border-radius: 5px;
	float : left;
	margin-left: 370px;
	position : absolute;
}
.chartCan2{
	float : left;
	
	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 350px;
	height : 415px;
}
.chartCan3{
	float : left;
	margin-left : 715px;
	position : absolute;
	
	border-radius : 5px;
	width : 350px;
	height : 415px;
}
.mailerCanvas2{
	
	border: solid 1px DarkGray;
	border-radius: 5px;
 	width : 350px;
	
}
.tabTitle{
	font-size : 16px;
	text-align : center;
}
.inp{
	float : right;
}
.popup{
	border-radius : 5px;
	transition : opacity 1000ms;
	font-size : large;
	font-style : oblique;
}
.idPopOk{
	border-radius : 5px;
	background-color :	 LightGray;
}

/*Comparative mailer*/

.combineChart{
	height : 370px;
	width : 400px;
	border : solid 1px DarkGray;
	border-radius : 5px;
}
.comparative{
	height : 350px;
	width : 500px;
	margin-left : 510px;
	margin-top : -750px;
}
.comparative1{
	height : 390px;
	width : 500px;
	border : solid 1px DarkGrey;
	border-radius : 5px;
}
.combineTable{
 	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 500px;
	margin-left : 510px;
	margin-top : -390px;
}
.combineTableNot{
	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 500px;
	margin-top : 10px;
}
.secTab{
	border : solid 1px DarkGray;
	border-radius : 5px;
	margin-top : 10px;
	width : 500px;
}
.seg{
	float : right;
}
/*
.FooteralignLast{
		clear: both;
		float: inherit;
        display: -webkit-inline-box;
  
	}
*/