body  {
	background-color: White;
}
.chart1{
	width: 700px;
	height: 320px;
	border : solid;
	border-width : 1px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px;
	float: left;
	/*margin-top: -160px;*/
	border-color: DarkGray;
	background-color : Gainsboro;
}
.chartCanvas{
	width: 695px;
	height: 270px;
	margin-top : 8px;
}
.canvas2{
	width : 500px;
	height : 125px;
	font-size: 0px;
}
.mailState{
	width: 180px;
	height: 150px;
	border-style: solid;
	border-radius : 5px;
	border-width : 1px;
	margin-left : 880px;
	margin-top: -153px;
	border-color: DarkGray;
	background-color : Gainsboro;
}
.mailState ul{
	text-decoration: none;
	list-style-type:none;
}
.mailState ul li{
	margin-top: -12px;
	margin-left : -25px;

}
.lblClick1{
	font-size:20px;
	font-weight: 2px;
}
.clickVal{
	font-size:26px;
	font-style : bold;
	font: bold;
	text-align: center;
}
.lblImp{
	text-align: left;
	font-size:20px;
}
.impVal{
	text-align: center;
	font-size: 26px;
}
.newMailVal{
	font-size: 14px;
	text-align: left;
}
.newMailDesc{
	
	font-size: 14px;
}	
.newMail {
	height: 160px;
	width: 510px;
	border : solid 1px;
	margin-left: 705px;
	margin-top:170px;
	border-radius:5px;
	border-color: DarkGray;
	background-color : Gainsboro;
}
.mailAud{
	border  :solid;
	border-width : 1px;
	border-radius: 5px;
	width : 170px;
	height : 150px;
	margin-left : 705px;
	border-color: DarkGray;
	margin-top : -322px;
	background-color : Gainsboro;
}
.mailChart{
	width:290px;
	height: 125px;
}
.mailAud ul{
	list-style-type: none;
}
.mailAud ul li{
	margin-left: -25px;
	margin-top:-12px;
}
.lblAudience{
	font-size:20px;
}
.sentVal{
	font-size:26px;
}
.lblAvg{
	font-size: 20px;
}
.ctrVal{
	font-size:26px;
}
.imgIcon{
	padding-left: 80px;
	color: Black;
	height: 90px;
	width: 70px;
}
.tltCampaign{
	padding-left: 10px;
	font-style: bold;
	font-size:20px;
	
}
.tltCampaign1{
	padding-left: 10px;
	font-style: bold;
	font-size:20px;
	
}
.tltCampaign2{
	margin-left: 25px;
	font-style: bold;
	font-size:20px;
	
}
.filter{
	
	float: right;
}

.customer ul{
	list-style-type : none;
	
}
.okBtn{
	margin-right:10px;
	float : right;
}
.all{
	margin-left:-5px;
	background-color: White;
}
.customer{
	border-style: solid;
	border-width : 1px;
	height : 150px;
	width  :150px;
	float : left;
	margin-left :1065px;
	margin-top: -323px;
	border-radius:5px;
	border-color: DarkGray;
	background-color : Gainsboro;
}
.list1{
	margin-top:-2px;
	margin-left: -3px;
}
.list2{
	margin-left: -3px;
	
	margin-top : -5px;
}
.lblActCust{
	font-size: 20px;
}
.lblAct{
	font-size: 26px;
}
.lblDe{
	font-size: 26px;
}
.lblDeactCust{
	font-size: 20px;
}
.customer ul li{
	margin-left: -25px;
	padding-top: -15px;
}
html{
	background-color: White;
}
#spBar{
	width: 280px;
	height:130px;
}
.cpAll{
	width : 900px;
	height : 200px;
}
.cpSent{
	width : 150px;
	height : 100px;
	margin-left: 10px;
	margin-top : 10px;
}
.cpBounce{
	width : 150px;
	height : 100px;
	margin-left : 200px;
	margin-top: -100px;
}
.cpOpen{
	width : 150px;
	height : 100px;
	margin-left : 390px;
	margin-top: -100px;
}
.cpClick{
	width : 150px;
	height : 100px;
	margin-left:580px;
	margin-top: -100px;
}
.lblCpHead1{
	font-size : 20px;
	margin-left: 60px;
}
.lblCpHead2{
	font-size : 20px;
	margin-left: 60px;
	margin-top : -300px;
}
.lblCpHead3{
	font-size : 20px;
	margin-left: 80px;
	margin-top : -300px;
}
.lblCpHead4{
	font-size : 20px;
	margin-left: 60px;
}
.lblCpStatus{
	font-size: 20px;
	margin-left: 370px;
}
.campaignName{
	font-size : 20px;
	margin-left: 20px;
}
.Find{
	margin-left : 150px;
}

DataTableColumn{
	float : left;
}
.spsDlList1{
	float  :left;
	display : block;
	
}
.spsDlList2{
	float  :left;
	display : block;
	
}
.spsCol{
	border : solid 1px;
}
.csvIcon{
	margin-top  : 3px;
	width : 25px;
	height  : 25px;
}
/*#Compon{
	float:left;
	width : 240px;
	
}*/

.sbsCanvas{
	width : 1100px;
	height : 400px;
	border : solid 1px;
	border-color : DarkGray;
	border-radius : 5px;
	float: left; 
	margin-top : -2px;

}
.sbsTitle{
	font-size : 20px;
}
	
.sbstable{
	border : solid 1px;
	border-color : DarkGray;
	border-radius : 5px;
	width : 1100px;
	float:left;
	
	margin-top : 5px;
	
}
.sbstable12{
	border : solid 1px;
	border-color : DarkGray;
	border-radius : 5px;
	width : 914px;
	float:left;
	margin-left: 237px;
	margin-top : 5px;
	
}
#store{
	border : solid 1px DarkGray;
	border-radius : 5px;
	margin-left : 0px;
	width : 1100px;
	margin-top : 615px;
}
.csvBtn{
	float : right;
}
.sbsPCtable{
	border : solid 1px;
	border-color : DarkGray;
	border-radius : 5px;
	width : 193px;
	margin-left : 700px;
	margin-top : -400px;
}
.refresh{
	
	width : 25px;
	height : 25px;
}
#table{
	margin-top : -435px;
	margin-right : 150px;
	float : right;
}

.nssChart{
	border : solid;
	border-width : 1px;
	-webkit-border-radius: 5px;
	border-color : DarkGray;
	width: 850px;
	height : 430px;
	float:left;
	margin-left : 240px;
	margin-top : -275px;
}


.nssTitle{
	font-size : 20px;
}
.lblNss1{
	margin-left : 5px;
}
.lblNss2{
	margin-left : 5px;
}
.lblNss3{
	margin-left : 5px;
}
.lblNssYr{
	margin-left : 5px;
}
.lblNssMnth{
	margin-left : 5px;
}
.nsstable{
	width : 650px;
	border : solid;
	border-width : 1px;
	border-radius: 5px 5px 5px 5px;
	border-color : DarkGray;
	/*margin-top : 435px;
	margin-left : 240px; */
}

.ppTitle{
	font-size :20px;
}

.ppSalesCanvas1{
	width : 880px;
	height :400px;
	border : solid 1px;
	border-radius : 5px;
	border-color : DarkGray;
	float : left;
}
.ppCrossTable{
	margin-top : 5px;
	float: left;
	margin-left : 315px;
	border : solid 1px DarkGray;
	border-radius : 5px;
}
.pcpRedeemTable{
	border : solid 1px;
	border-color : DarkGray;
	border-radius : 5px;
	width : 650px;
	margin-top : 410px;
	margin-left : 220px;
}

.lblCampId{
	margin-left : 5px;
}
.lblPromoId{
	margin-left : 5px;
}

.lblPromoType{
	margin-left : 5px;
}
.lblStore1{
	margin-left : 5px;
}
.lblStore2{
	margin-left :5px;
}
.lblStore3{
	margin-left : 5px;
}
.lblFrom{
	margin-left : 135px;
}
.lblTo{
	margin-left : 95px;
}
.lblPCStore1{
	margin-left : 5px;
}
.lblPCStore2{
	margin-left :5px;
}
.lblPCStore3{
	margin-left : 5px;
}
.lblPCFrom{
	margin-left : 135px;
}
.lblPCTo{
	margin-left : 95px;
}
.ppSalesCanvas{
	float : left;
	width : 850px;
	height :400px;
	border : solid 1px;
	border-radius : 5px;
	border-color : DarkGray;
	
}
.ppSalesTable{
	border : solid 1px;
	border-color : DarkGray;
	border-radius : 5px;
	width : 650px;
	margin-left : 315px;
	margin-top : 410px;
}
.ppSalesTable12{
	border : solid 1px;
	border-color : DarkGray;
	border-radius : 5px;
	width : 650px;
	margin-left : 315px;
	margin-top : 410px;
}
.pcSalesTable{
	border : solid 1px;
	border-color : DarkGray;
	border-radius : 5px;
	width : 650px;
	margin-top : 410px;
	margin-left : 220px;
}
.numberFormat{
	text-align  : right;
	float : right;
}
#ppPromoCommon{
	width : 315px;
	float :left;
}
#ppcCommon{
	width : 315px;
	float: left;
}
#ppdCommon{
	width : 315px;
	float : left;
}
#pcrCommon{
	width : 220px;
	float : left;
}
#pcsCommon{
	width : 220px;
	float : left;
}
#pcdCommon{
	width : 220px;
	float : left;
}
#nssCommon{
	width : 240px;
	float : left;
}
.headerSize{
	width :150px;
	color : AntiqueWhite;
}
#imgId{
	margin-left : 40px;
	margin-top : 40px;
}
.rightside{
	width : 100px;
	height : 300px;
	background-color : DarkGray;
}
.str{
	margin-top : -30px;
}
.tblName{
	font-size : 16px;
}
.tblName1{
	font-size : 20px;
	font-weight : bold;
	float : left;
}
.store{
	margin-left :4px;
	margin-top : -20px;
	width : 500px;
}
.measureRight{
	float: right;
	margin-top: -21px;
}
.subSel{
	float : right;
}
/*/mururuga - 28/07/17/ */

.headbg{
border-bottom:1px solid #eae5e5; 
margin-right: auto;
margin-left: -15px;
margin-bottom:10px;
padding-left: 0px !important;
padding-right: 8px; 
background: #f1f1f1;
margin-top:-8px;
width: calc(100% - -2.65em)!important;
min-height: calc(5% - 5em)!important; 
    padding: 0.5em 0em !important;
}
.headbg1{
border-bottom:1px solid #eae5e5; 
margin-right: auto;
margin-left: -15px;
margin-bottom:10px;
padding-left: 0px !important;
padding-right: 8px; 
background: #f1f1f1;
margin-top:-8px;
width: calc(100% - -2.65em)!important;
min-height: calc(5% - 5em)!important; 
    padding: 0.5em 0em !important;
}


#Sidebar.Open ~.headbg {width: calc(100% - 19.3em)!important; left: 9.5em!important; }
#Sidebar.Open ~.title {width: calc(100% - 0.3em)!important;}
.btn.default {
    color: #fff;
    background-color: #00aaf0;
	margin-top: 4px;
}
.btn.default:hover {    background-color: #092936; }
.filterval {margin-bottom: 5px;}
.title{
	font-size : 20px;
	float:left;
	padding:0px;     
	font-weight: 600;
	line-height: 35px;
}
.title span{font-size : 15px;font-weight: 600; color:#00aaf0;}
.tableheaderright{
	background-color:#F3F3F3 ;
	float: right;
}
.textright{
	text-align : right;
}
.subtitle1{
	float:left;
}
.lblName {
    font-size: 16px;
}
#ppAction_1_rdPopup{
    position: relative !important;
    left: 55px !important;
    top: 33px !important;
    z-index: 9999 !important;
    float: right;
    right: 0;
	/*left: 87% !important;
    top: 45px !important;
    z-index: 9999 !important;
    float: right;
    right: 22px;*/
}
.lblback{
	font-size: 14px;
}
#txtrgt{
	text-align: right;
}
.tablestyle{
	border : Solid 1px DarkGray;
	border-radius : 5px;
	width : 100%;
	padding : 20px;
}
.marginleft10{
	margin-left : 10px;
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
	padding: 15px;
	border: 1px solid #fff;
	background-color: white;
	z-index:1002;
	overflow: auto; 
	box-shadow: rgba(187, 187, 187, 1) 0 0px 10px -1px;
    -webkit-box-shadow: rgba(187, 187, 187, 1) 0 0px 10px -1px;
     border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-animation-name: animateright;
    -webkit-animation-duration: 0.4s;
    animation-name: animateright;
    animation-duration: 0.4s
}
h2 {color:#292E3C;padding: 0px;    line-height: 5px;    font-size: 20px;}
/* Add Animation */
@-webkit-keyframes animateright {
    from {right:-300px; opacity:0} 
    to {right:0; opacity:1}
}

@keyframes animateright {
    from {right:-300px; opacity:0}
    to {right:0; opacity:1}
}

/* The Close Button */
.close {
    color : #172C42;
    float: right;
    font-size: 28px;
    font-weight: bold; opacity: .55;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color:LightBlue;
	padding: 2px;
	
   
}
.modal-header1 {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: Light blue;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.chartval{
	border : solid thin LightGray;
	border-radius : 5px;
	resize : both;
	overflow : auto;
}
.main-logo{
	width:112px;
	height:40px;
}