BODY
{
 	background-color : #FFF;
}
.title{
	font-size : 20px;
}
.chart{
	width : 998px;
	border : 1px solid DarkGray;
	border-radius : 4px;
	float : left;
}
.filter{
	border : 1px solid DarkGray;
	border-radius : 4px;
	width : 3	00px;
	margin-left : 5px;
	padding : 5px 5px 5px 20px;
	float : left;
}
.right{
	float : right;
}
/*.table{
	float : left;
	width : 100%;
}*/
.rrchart{
	border : solid 1px DarkGray;
	border-radius : 5px;
	float : left;
	width: 100%;
}
.subtitle{
	margin-left : -300px;
}
.subtitle1{
	float:left;
}
.gridval{
	width : 100%;
	border : 1px solid DarkGray;
	border-radius : 5px;
}