.yui3-widget.yui3-panel.yui3-widget-positioned  {
 	z-index: 9300;
}
.rdThemeWaitPanel {
    background-color: #A6192E !important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.2) !important;
    box-shadow: 0 3px 9px rgba(0,0,0,.2) !important;
	top: 0 !important;
	position: fixed;
	width: auto;
	left: 50% !important;
	margin-left: -80px !important;
	text-align: center;
	padding:10px;
	z-index: 9300;
	display: block !important;
	padding-right: 15px !important;
}
#rdWait span, .rdThemeWaitPanel .rdThemeWaitCaption {
    color: #ffffff !important;
	font-size: 18px;
}
#rdWaitImage {
    background-image: url("PleaseWait.gear.svg") !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	height: 32px;
	width: 32px;
}
