.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
    color: Black !important;
}
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    color: Black !important;
    
}
a:-webkit-any-link {
    color: Black !important;
    text-decoration: none;
    cursor: auto;
}
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    color: Black !important;
    
}

.alternatingRow tbody tr:nth-child(even) td,
.alternatingRow tbody tr:nth-child(even) th 
{
	background-color: #d7e7cb;
}


@media ( min-width: 600px ) {
	/* Show the table header rows and set all cells to display: table-cell */
	.my-custom-breakpoint td,
	.my-custom-breakpoint th,
	.my-custom-breakpoint tbody th,
	.my-custom-breakpoint tbody td,
	.my-custom-breakpoint thead td,
	.my-custom-breakpoint thead th 
	{
	
		display: table-cell;
		margin: 0;
	}
	/* Hide the labels in each cell */
	.my-custom-breakpoint td .ui-table-cell-label,
	.my-custom-breakpoint th .ui-table-cell-label {
		display: none;
	}
}
.ui-table caption {
    text-align: left;
    margin-bottom: 2px !important;
    opacity: 1 !important;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: #f9f9f9;
    border-color: #bbb;
    color: #000;
    text-shadow: none !important;
}

.ui-table-columntoggle-btn {
	display: none !important;
	}
